*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 600px;
    background-color: #4C98DD;
    padding-left: 600px;
    padding-top:100px;
}
.card{
    width: 400px;
    height: 500px;
    border: 1px solid;
    background-color: white;
    border-radius: 2px;
    border: none;
    /* padding-left: 30px; */
    padding-top: 18px;
    /* border-bottom: 1px solid; */
}
.card1 h1{
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card1 p{
    color:rgb(177, 175, 175);
    padding-top: 8px;
    border-bottom: 1px solid rgb(236, 227, 227);
    padding-left: 30px;
    padding-bottom:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inp1{
    display: flex;
    /* justify-content: space-evenly; */
}
.inp1 input{
    width: 160px;
    height: 40px;
    margin-top:20px;
    background-color: #F2F2F2;
    border: none;
    padding-left: 10px;
    border-radius: 2px;
    margin-left: 30px;
}
.inp2 input{
    height: 40px;
    width: 350px;
    margin-left: 30px;
    margin-top:20px;
    background-color: #F2F2F2;
    border: none;
    padding-left: 10px;
}
.inp3 input{
    height: 40px;
    width: 350px;
    margin-left: 30px;
    margin-top:20px;
    background-color: #F2F2F2;
    border: none;
    padding-left: 10px;
}
.inp4 input{
    height: 40px;
    width: 350px;
    margin-left: 30px;
    margin-top:20px;
    background-color: #F2F2F2;
    border: none;
    padding-left: 10px;
}
.text{
    display: flex;
    margin-top:23px;
}
.text input{
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text .p1{
    margin-left: 10px;
}
.text .p2{
    margin-left: 8px;
}

.text .p3{
    margin-left: 8px;
}

.text .p4{
    margin-left: 8px;
}
.button1 button{
    height: 43px;
    width: 150px;
    margin-left: 30px;
    color: white;
    background-color:#4C98DD;
    border: none;
    border-radius: 3px;
    margin-top:20px;
    font-size:17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
}
.food{
    padding-top: 20px;
    padding-left:60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

